body, html {
    margin: 0;
    overflow: hidden;
    font-family: "Microsoft YaHei", "Hiragino Sans GB", Arial, Helvetica;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(#a2c1ff, white); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#a2c1ff, white); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#a2c1ff, white); /* Firefox 3.6 - 15 */
    background: linear-gradient(#a2c1ff, white); /* 标准的语法 */
}

ul, li {
    list-style: none;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* 这是针对缺省样式 (必须的) */

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 9px;
    -webkit-border-radius: 9px;
}

/* 滑块颜色 */

::-webkit-scrollbar-button {
    background-color: initial;
}
input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px transparent inset !important;
}

:-webkit-autofill {
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s;
}

.my_flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    justify-content: center;
}
.content{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.title{
    text-align: center;
    line-height: 63px;
    height: 63px;
    color: white;
    font-size: 18px;
    background: url("../images/icon_title.png") no-repeat;
    background-size: 100% 100%;
}
.knowledge_cont{
    margin: 25px 26px 0;
    height: 40px;
    position: relative;
}
.knowledge_cont input{
    line-height: 18px;
    padding: 10px 15px;
    border: 1px #A0A0A0 solid;
    color: #333;
    width:calc(100% - 70px);
    box-sizing: border-box;
    font-family: "Microsoft YaHei", "Hiragino Sans GB", Arial, Helvetica;
    font-size: 16px;
}
.knowledge_cont .select_list{
    border: 1px #A0A0A0 solid;
    border-top: 0;
    padding: 0 5px;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top:40px;
    left: 0;
    font-size: 14px;
    color: #333;
    max-height: 173px;
    margin: 0;
    z-index: 10;
    background: white;
    overflow-y: auto;
}
.knowledge_cont .select_list li{
    line-height: 43px;
    border-bottom: 1px #EEEEEE solid;
    padding: 0px 9px;
    cursor: pointer;
}
.knowledge_cont .select_list li:last-child{
    border-bottom: 0;
}
#add{
    float: right;
    background: #3672ED;
    width: 70px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    color: white;
    cursor: pointer;

}
.blueBtn{
    line-height: 44px;
    height: 44px;
    background: #3672ed;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 300px;
}
#knowledge_list{
    overflow: hidden;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 11px 24px 11px;
    padding: 0;
}
#knowledge_list li {
    border: 1px #3672ED solid;
    height: 32px;
    line-height: 32px;
    box-sizing: border-box;
    padding: 0 12px;
    margin: 24px 15px 0 15px;
    position: relative;
    font-size: 14px;
    color: #333;
}
#knowledge_list li .close{
    position: absolute;
    top: -12px;
    right: -12px;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: url("../images/icon_close.png") no-repeat;
    background-size: cover;
    cursor: pointer;
}
#announceAnswer{
    height: 100%;
}
#announceAnswer li {
    height: 20px;
    line-height: 20px;
    padding-right: 26px;
    font-size: 26px;
}
#announceAnswer ul{
    margin: 0 10px 20px;
    padding: 0;
}
.announce_cont{
    padding-top: 50px;
    padding-bottom: 40px;
}
.checkIcon{
    width: 20px;
    height: 100%;
    box-sizing: border-box;
    border: 1px #A0A0A0 solid;
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    margin: 0 16px;
    background: #fff;
}
.checkIcon.active{
    border: 1px #3672ED solid;
    background: #3672ED;
    position: relative;
}
.checkIcon.active::after{
    content: '';
    position: absolute;
    width: 13px;
    height: 6px;
    left: 2px;
    top: 4px;
    border: 1px #fff solid;
    border-left: 0;
    border-bottom: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);

}
.student_avatar{
    width: 60px;
    height: 60px;
    border: 2px solid #3672ED;
    border-radius: 50%;
    box-sizing: border-box;
    background: #d6d6d6;
}
.student_avatar-active{
    border: 2px solid #51A938;
    box-shadow: 0px 0px 18px 0 #71ff7e;
    animation: jump .5s linear ;
    animation-iteration-count:2;
    -webkit-animation-iteration-count:2; /* Safari 和 Chrome */
}
.student_avatar img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.studentName{
    font-size: 18px;
    color: #444E6F;
    line-height: 1;
    margin-top: 12px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.signTip, .imageTip{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    right: 0;
}
#student_list_container{
    margin: 0 0 0 25px;
    padding-top: 10px;
}
.signTip{
    background: url("../images/icon-write.png") no-repeat #368EE8;
}
.imageTip{
    background: url("../images/icon-answer.png") no-repeat #51A938;
    animation: jump .5s linear ;
    animation-iteration-count:2;
    -webkit-animation-iteration-count:2; /* Safari 和 Chrome */
}
.student_item{
    width: 66px;
    height: 92px;
    position: relative;
    text-align: center;
    margin: 0 20px 28px 20px;
    display: inline-block;
}
.student_list_title{
    text-align: center;
    color: #2358C4;
    font-size: 18px;
    line-height: 1;
    position: relative;
    margin: 34px 0 30px 0;
}
.student_list_line{
    width: calc(50% - 80px);
    height: 2px;
    background: #3672ED;
    position: absolute;
    top:9px;
}
.student_list_lineLeft{
    left: 0;
}
.student_list_lineLeft:before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3672ED;
    display: inline-block;
    position: absolute;
    top: -4px;
    right: -2px;
}
.student_list_lineRight{
    right: 0;
}
.student_list_lineRight:before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3672ED;
    display: inline-block;
    position: absolute;
    top: -4px;
    left: -2px;
}
.student_itemCont{
    overflow-y: auto ;
    overflow-x: hidden;
    height: 300px;
}
.student_list_Cont{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: #b2b2b2;
}
　　input:-moz-placeholder, textarea:-moz-placeholder{
    color: #b2b2b2;
}
　　input::-moz-placeholder, textarea::-moz-placeholder{
    color: #b2b2b2;
}
　　input:-ms-input-placeholder, textarea:-ms-input-placeholder{
    color: #b2b2b2;
}
#set_knowledge{
    height: 262px;
    position: relative;
}
.blueBtn-first{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -150px;
}
.blueBtn-last{
    margin-top: 25px;
}
@keyframes jump {
    0% {
        transform: translateY(0) ;
    }
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(20px);

    }
    75% {
        ransform: translateY(10px) ;
    }
    100% {
        transform: translateY(0) ;
    }
}