body {
    overflow: hidden;
    position: relative;
    margin: 0;
    border: none;
    font-family: "Microsoft YaHei", "Hiragino Sans GB", Arial, Helvetica;
    border-radius: 50%;
    font-size: 14px;
    width: 118px;
    height: 231px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* 这是针对缺省样式 (必须的) */

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 9px;
    -webkit-border-radius: 9px;
}

/* 滑块颜色 */

::-webkit-scrollbar-button {
    background-color: initial;
}

ul, li {
    list-style: none;
}

.startClass{
    width: 108px;
    height: 216px;
    background: url("../images/icon_startBg.png");
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
}
.startClass .shade{
    width: 100%;
    height: 100%;
    background: url("../images/icon_startTop.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 10;
    animation:startClass 5s ease-in-out infinite;
    -webkit-animation:startClass 5s ease-in-out infinite;
}

#content{
    background: url("../images/icon_ballBg_right.png") no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.circle{
    background: url("../images/icon_ballCenter.png") no-repeat;
    background-size: cover;
    width: 126px;
    height: 126px;
    position: absolute;
    right: -70px;
    top: 56px;
    animation:circle 20s linear infinite;
    -webkit-animation:circle 20s linear infinite;

}
.textCont{
    color: #0045e3;
    font-size: 16px;
}
.textCont > div{
    cursor: pointer;
}
#pushQue{
    width: 81px;
    height: 46px;
    position: absolute;
    top: 18px;
    right: 1px;
    transform: rotate(-29deg);
    border-radius: 36%;
    overflow: hidden;
}
#pushQue span{
    position: absolute;
    left: 0;
    top:0
}
#pushQue span:first-child{
    position: absolute;
    left: 0;
    top:0
}
#screenShot{
    width: 77px;
    height: 47px;
    position: absolute;
    top: 93px;
    right: 47px;
    transform: rotate(-88deg);
    border-radius: 33%;
    overflow: hidden;
}
#statistics{
    width: 80px;
    height: 45px;
    position: absolute;
    top: 172px;
    right: 2px;
    transform: rotate(-153deg);
    border-radius: 25%;
    overflow: hidden;
}
#clock{
    width: 90px;
    height: 90px;
    position: absolute;
    top: -3px;
    right: -51px;
    overflow: hidden;
    z-index: 12;
    cursor: pointer;
    border-radius: 50%;
}
.centerText{
    position: absolute;
    top: 78px;
    right: 0;
    background: url("../images/icon_ballOver.png") no-repeat;
    background-size: cover;
    width: 34px;
    height: 83px;
    z-index: 10;
}
.overClass{
    position: absolute;
    top: 78px;
    right: 0;
    background: url("../images/icon_ballOver02.png") no-repeat;
    background-size: cover;
    width: 34px;
    height: 83px;
    z-index: 10;


}
.overClass i{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/icon_ballOver01.png") no-repeat;
    background-size: cover;
    width:100%;
    height: 100%;
    z-index: 11;
    animation:startClass 3s linear infinite;
    -webkit-animation:startClass 3s linear infinite;
}
@keyframes startClass {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes circle
{
    0% {
        transform:rotate(0)
    }

    100% {
        transform:rotate(360deg)
    }
}