body {
    overflow: hidden;
    position: relative;
    margin: 0;
    border: none;
    font-family: "Microsoft YaHei", "Hiragino Sans GB", Arial, Helvetica;
    border-radius: 50%;
    font-size: 14px;
    width: 137px;
    height: 265px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* 这是针对缺省样式 (必须的) */

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 9px;
    -webkit-border-radius: 9px;
}

/* 滑块颜色 */

::-webkit-scrollbar-button {
    background-color: initial;
}

ul, li {
    list-style: none;
}

.startClass {
    width: 108px;
    height: 216px;
    background: url("../images/icon_startBg.png");
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
}

.startClass .shade {
    width: 100%;
    height: 100%;
    background: url("../images/icon_startTop.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 10;
    animation: startClass 5s ease-in-out infinite;
    -webkit-animation: startClass 5s ease-in-out infinite;
}

#content {
    background: url("../images/icon_ballBg_right.png") no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.circle {
    background: url("../images/icon_ballCenter.png") no-repeat;
    background-size: cover;
    width: 126px;
    height: 126px;
    position: absolute;
    right: -70px;
    top: 50%;
    margin-top: -63px;
    animation: circle 20s linear infinite;
    -webkit-animation: circle 20s linear infinite;
}

.textCont {
    color: #0045e3;
    font-size: 16px;
}

.textCont > div {
    cursor: pointer;
    /*background: salmon;*/
    font-size: 0;
}

.pushQue {
    width: 42px;
    height: 60px;
    position: absolute;
    top: 8px;
    right: 4px;
    transform: rotate(-21deg);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    overflow: hidden;
}

.pushQue span {
    position: absolute;
    left: 0;
    top: 0
}

.pushQue span:first-child {
    position: absolute;
    left: 0;
    top: 0
}

.screenShot {
    width: 66px;
    height: 40px;
    position: absolute;
    top: 46px;
    right: 36px;
    transform: rotate(-140deg);
    border-bottom-left-radius: 45%;
    overflow: hidden;
    border-top-left-radius: 45%;
}

.statistics {
    width: 69px;
    height: 40px;
    position: absolute;
    top: 88px;
    right: 57px;
    transform: rotate(-163deg);
    border-bottom-left-radius: 45%;
    overflow: hidden;
    border-top-left-radius: 45%;
}


.publicScreen {
    width: 71px;
    height: 40px;
    position: absolute;
    top: 137px;
    right: 57px;
    transform: rotate(-199deg);
    border-bottom-left-radius: 45%;
    overflow: hidden;
    border-top-left-radius: 45%;
}

.AR {
    width: 69px;
    height: 40px;
    position: absolute;
    top: 178px;
    right: 34px;
    transform: rotate(-222deg);
    border-bottom-left-radius: 45%;
    overflow: hidden;
    border-top-left-radius: 45%;
}

.booth {
    width: 42px;
    height: 63px;
    position: absolute;
    top: 194px;
    right: 5px;
    transform: rotate(20deg);
    overflow: hidden;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}

#clock {
    width: 90px;
    height: 90px;
    position: absolute;
    top: -3px;
    right: -51px;
    overflow: hidden;
    z-index: 12;
    cursor: pointer;
    border-radius: 50%;
}

.centerText {
    position: absolute;
    top: 90px;
    right: 0;
    background: url("../images/icon_ballOver.png") no-repeat;
    background-size: cover;
    width: 34px;
    height: 83px;
    z-index: 10;
}

.overClass {
    position: absolute;
    top: 90px;
    right: 0;
    background: url("../images/icon_ballOver02.png") no-repeat;
    background-size: cover;
    width: 34px;
    height: 83px;
    z-index: 10;
}

.overClass i {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/icon_ballOver01.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 11;
    animation: startClass 3s linear infinite;
    -webkit-animation: startClass 3s linear infinite;
}

@keyframes startClass {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes circle {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}
