<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../style/afterPushQue.css">
</head>
<body>
<div class="content">
    <div id="set_knowledge">
        <div class="title">归纳知识点</div>
        <div class="knowledge_cont">
            <input id='knowledge' type="text" placeholder="请输入知识点">
            <span id="add">添加</span>
            <!--<ul class="select_list">-->
                <!--<li>一次函数</li>-->
                <!--<li>一次函数</li>-->
                <!---->
            <!--</ul>-->
        </div>
        <ul id="knowledge_list">
        </ul>
        <div class="blueBtn" id="pushSubjectWithTag">确 定</div>
    </div>
    <div id="announceAnswer" style="display: none">
        <div class="title">选择正确答案</div>
        <div class="announce_cont">
            <ul id="choose_ans" class="my_flex">
                <li><i class="checkIcon choose_selection" data-choosen='false'></i>A</li>
                <li><i class="checkIcon choose_selection" data-choosen='false'></i>B</li>
                <li><i class="checkIcon choose_selection" data-choosen='false'></i>C</li>
                <li><i class="checkIcon choose_selection" data-choosen='false'></i>D</li>
            </ul>
            <ul id="judge_ans" class="my_flex">
                <li><i id="judge_yes" class="checkIcon" data-judge="false"></i>正确</li>
                <li><i id="judge_no" class="checkIcon" data-judge="false"></i>错误</li>
            </ul>
        </div>
        <div class="blueBtn" id="updateClassSubjectAnswer">公布答案</div>
    </div>
    <div id="student_template"  style="display: none;">
            <div class="student_item">
                <div class="student_avatar">
                    <img id="student_avatar"  src="http://www.maaee.com:80/Excoord_For_Education/userPhoto/default_avatar.png"  />
                </div>
                <div class="imageTip" id="imageTip"></div>
                <div class="signTip" id="signTip"></div>
                <div id="student_name" class="studentName"></div>
            </div>
    </div>
    <div >
        <div class="student_list_title">
            <span class="student_list_line student_list_lineLeft"></span>
            已作答学生
            <span class="student_list_line student_list_lineRight"></span>
        </div>
        <div class="student_itemCont" id="student_list_container"></div>
    </div>
</div>
<script src="../public/jquery.min.js"></script>
<script src="../public/layer/layer.js"></script>
<script src="../renderProcess/afterPushQue.js"></script>
</body>
</html>
