<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../style/afterPushQue.css">
</head>
<body>
<div class="content">
    <div id="set_knowledge" style="display: none">
        <div class="title">归纳知识点</div>
        <div class="knowledge_cont">
            <input id='knowledge' type="text" placeholder="请输入知识点">
            <span id="add">添加</span>
        </div>
        <ul id="knowledge_list">
        </ul>
        <div class="blueBtn" id="pushSubjectWithTag">确 定</div>
    </div>
    <div id="announceAnswer" >
        <div class="title">选择正确答案</div>
        <ul class="my_flex">
           <li> <i class="checkIcon active"></i>A</li>
           <li> <i class="checkIcon"></i>B</li>
           <li> <i class="checkIcon"></i>C</li>
           <li> <i class="checkIcon"></i>D</li>
        </ul>
        <ul class="my_flex">
            <li><i class="checkIcon"></i>正确</li>
            <li><i class="checkIcon"></i>错误</li>
        </ul>
            <div class="blueBtn" id="updateClassSubjectAnswer">公布答案</div>
    </div>
</div>
<script src="../public/jquery.min.js"></script>
<script src="../public/layer/layer.js"></script>
<script src="../renderProcess/afterPushQue.js"></script>
</body>
</html>
