<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../style/ball.css">
    <link rel="stylesheet" href="../assets/iconfont/iconfont.css">
</head>
<body class="pushQuestion">
    <div class="clock"></div>
    <div id="content"  style="-webkit-app-region: drag">
        <div class="antIcon">
            <div class="antBody"></div>
            <div class="antHand"></div>
        </div>
        <div class="textCont pushCont">
            <div id="screenShot" style="-webkit-app-region: no-drag;"><span>推</span>屏</div>
            <div id="statistics" style="-webkit-app-region: no-drag;">统<span>计</span></div>
            <div id="pushQue" style="-webkit-app-region: no-drag;"><span>推</span>题</div>
        </div>
        <div class="textCont startCont" id="startClass">
            开 课
        </div>
    </div>
<script src="../public/jquery.min.js"></script>
<script src="../public/pushSever_websocket.js"></script>
<script src="../renderProcess/ball.js"></script>
</body>
</html>
