<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../style/ball.css">
    <link rel="stylesheet" href="../assets/iconfont/iconfont.css">
</head>
<body class="pushQuestion">
    <div id="content"  style="-webkit-app-region: drag">
        <div class="antIcon">
            <div class="antBody"></div>
            <div class="antHand"></div>
        </div>
        <div class="textCont pushCont">
            <div id="screenShot" style="-webkit-app-region: no-drag;"><span>推</span>屏</div>
            <div id="pushQue" style="-webkit-app-region: no-drag;"><span>推</span>题</div>
        </div>
        <div class="textCont startCont" id="startClass">
            开 课
        </div>
    </div>
    <!--<div class="classList">-->
        <!--<div class="title">选择开课班级<span class="iconfont icon-guanbi"></span></div>-->
        <!--<ul>-->
            <!--<li><span>一年级一班</span><i class="active"></i></li>-->
            <!--<li><span>一年级一班</span><i></i></li>-->
            <!--<li><span>一年级一班一年级一班一年级一班一年级一班一年级一班一年级一班</span><i></i></li>-->
            <!--<li><span>一年级一班</span><i></i></li>-->
            <!--<li><span>一年级一班</span><i></i></li>-->
            <!--<li><span>一年级一班</span><i></i></li>-->
            <!--<li><span>一年级一班</span><i></i></li>-->
            <!--<li><span>一年级一班</span><i></i></li>-->
            <!--<li><span>一年级一班</span><i></i></li>-->
        <!--</ul>-->
        <!--<div class="btn">-->
            <!--确定-->
        <!--</div>-->
    <!--</div>-->

<script src="../public/pushSever_websocket.js"></script>
<script src="../renderProcess/ball.js"></script>
</body>
</html>
