<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../style/ball_new.css">
    <link rel="stylesheet" href="../assets/iconfont/iconfont.css">
</head>
<body>
<div class="startClass"><div class="shade"></div></div>
<div id="content"  style="display: none">
    <div class="circle"></div>
    <div class="textCont pushCont">
        <div id="pushQue"></div>
        <div id="screenShot"></div>
        <div id="statistics"></div>
        <div id="clock" class="clock"></div>
    </div>
</div>
<script src="../public/jquery.min.js"></script>
<script src="../public/pushSever_websocket.js"></script>
<script src="../renderProcess/ball.js"></script>
</body>
</html>
