<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../style/ball_new.css">
    <link rel="stylesheet" href="../assets/iconfont/iconfont.css">
</head>
<body style="-webkit-app-region: drag">
<div id="startClass" class="startClass" style="-webkit-app-region:no-drag">
    <div class="shade"></div>
</div>
<div id="content"   style="display: none">
    <!--overClass-->
    <div id="overClass" class="centerText"><i></i>
        <div id="clock" class="clock" style="-webkit-app-region:no-drag"></div>
    </div>
    <div class="circle"></div>
    <div class="textCont pushCont">
        <div id="pushQue" class="pushQue" style="-webkit-app-region:no-drag"></div>
        <div id="screenShot" class="screenShot" style="-webkit-app-region:no-drag"></div>
        <div id="statistics" class="statistics" style="-webkit-app-region:no-drag"></div>
        <div id="publicScreen" class="publicScreen"  style="-webkit-app-region:no-drag">公屏</div>
        <div id="AR" class="AR" style="-webkit-app-region:no-drag">AR</div>
        <div id="booth" class="booth" style="-webkit-app-region:no-drag">展台</div>
    </div>
</div>
<script src="../public/jquery.min.js"></script>
<script src="../public/pushSever_websocket.js"></script>
<script src="../public/simple.js"></script>
<script src="../renderProcess/ball.js"></script>
</body>
</html>
