<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../style/ball.css">
</head>
<body style="-webkit-app-region: drag">
<div id="content">
    <div class="antIcon"></div>
    <div class="textCont">
        <div id="screenShot" style="-webkit-app-region: no-drag;"><span>推</span>屏</div>
        <div id="pushQue" style="-webkit-app-region: no-drag;"><span>推</span>题</div>
    </div>
</div>
<script src="../renderProcess/ball.js"></script>
</body>
</html>