<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/capture.css">
    <title>Document</title>
    <style>
        @import "../assets/iconfont/iconfont.css";
    </style>
</head>

<body>
<div id="js-bg" class="bg"></div>
<div id="js-mask" class="mask"></div>
<canvas id="js-canvas" class="image-canvas"></canvas>
<div id="js-size-info" class="size-info"></div>
<div id="js-toolbar" class="toolbar my_flex">
    <div class="titleType my_flex">
        <div id="choose_que" class="active">选择题</div>
        <div id="judge_que">判断题</div>
    </div>
    <ul id="judge_answer" class="my_flex" style="display: none">
        <li><span class="inputCont"><i id="judge_yes" class="checkIcon"></i></span>对</li>
        <li><span class="inputCont"><i id="judge_no" class="checkIcon"></i></span>错</li>
    </ul>
    <ul id="choose_answer" class="my_flex">
        <li><span class="inputCont"><i class="checkIcon choose_selection" data-choosen='false'></i></span>A</li>
        <li><span class="inputCont"><i class="checkIcon choose_selection" data-choosen='false'></i></span>B</li>
        <li><span class="inputCont"><i class="checkIcon choose_selection" data-choosen='false'></i></span>C</li>
        <li><span class="inputCont"><i class="checkIcon choose_selection" data-choosen='false'></i></span>D</li>
    </ul>
    <div class="iconfont icon-zhongzhi" id="js-tool-reset"></div>
    <!--<div class="iconfont icon-xiazai" id="js-tool-save"></div>-->
    <div class="iconfont icon-guanbi" id="js-tool-close"></div>
    <div class="iconfont icon-duihao" id="js-tool-ok"></div>
</div>
<!--<script src="../renderProcess/capture.js"></script>-->
<script src="../public/jquery.min.js"></script>
<script src="../renderProcess/capture-renderer.js"></script>
</body>
</html>

