<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../style/classDanmu.css">
    <link rel="stylesheet" href="../public/honeySwitch/honeySwitch.css">
</head>
<body>
<div id="content">
    <div class="empty">
        <img src="../images/icon_empty.png" alt="">
        <div>老师已开启公屏模式</div>
    </div>
    <ul>
    </ul>
    <div class="btn">
        <span class="title">锁屏</span>
        <span class="switch-on"></span>
    </div>
</div>
<div id="mask" class="mask" style="display: none">
    <div class="icon_close"></div>
    <div class="icon_left"></div>
    <img id="preview_img" src="" alt="">
    <div class="icon_right"></div>
    <div id="userName"></div>
</div>
<script src="../public/jquery.min.js"></script>
<script src="../public/honeySwitch/honeySwitch.js"></script>
<script src="../renderProcess/classDanmu.js"></script>
</body>
</html>
