<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../style/classDanmu.css">
    <link rel="stylesheet" href="../public/honeySwitch/honeySwitch.css">
</head>
<body>
<div id="content">
    <ul>
    </ul>
    <div class="btn">
        <span class="title">禁言</span>
        <span class="switch-on"></span>
    </div>
    <div>
        <img id="preview_img" src="" alt="">
    </div>
</div>
<script src="../public/jquery.min.js"></script>
<script src="../public/honeySwitch/honeySwitch.js"></script>
<script src="../renderProcess/classDanmu.js"></script>
</body>
</html>
