<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../style/login.css">
</head>
<body>
<div class="content">
    <div class="login_box">
        <div class="logo"><img src="../images/logo.png"/>小蚂蚁教学助手</div>
        <div id="logo_content" class="logo_content">
            <div class="tab my_flex">
                <div class="btn_left active" id="account">账号登录</div>
                <div class="btn_right" id="scan">扫码登录</div>
            </div>

            <!--账号登录 -->
            <div class="account">
                <div class="inputWrap">
                    <input id='act' type="text" placeholder="请输入小蚂蚁账号">
                    <!--存输入的用户名 -->
                    <div style="display:none" id="actData"></div>
                </div>
                <input id="pwd" type="password" placeholder="请输入密码">
                <button id="login">登录</button>
            </div>

            <!--扫码登录 -->
            <div class="scan">
                <img id="scan_image" src="../images/school.png" alt="">
                <div>打开手机小蚂蚁教师端扫一扫</div>
            </div>
        </div>
        <div id="classList" class="classList" style="display: none">
            <div class="title">请选择开课班级<span class="iconfont icon-guanbi"></span></div>
            <ul id="class_list-ul">

            </ul>
            <div class="btnWrap">
                <div id="openClassBtn" class="btn">
                    确定
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script src="../public/jquery.min.js"></script>
<script src="../public/simple.js"></script>
<script src="../public/layer/layer.js"></script>
<script src="../renderProcess/login.js"></script>
</html>
